.Rectangle-3 {

  margin-left: 112px;

  width: 800px;

  height: 30px;

  background-image: linear-gradient(to bottom, #29294a, #20203e);

}

.Zajno-Chat-v10331 {

  margin-left: 348px;

  width: 105px;

  height: 28px;

  opacity: 0.72;

  font-family: SFUIDisplay, serif;

  font-size: 12px;

  font-weight: 300;

  font-style: normal;

  font-stretch: normal;

  line-height: 2.33;

  letter-spacing: normal;

  text-align: center;

  color: #cac8ee;

}

.Mask-Copy-3 {

  margin-left: 112px;

  width: 271px;

  height: 45px;

  box-shadow: 0 2px 4px 0 rgba(43, 43, 71, 0.19);

  background-color: #2e2e4f;

}

.Rectangle-4 {

  width: 1024px;

  height: 768px;

  opacity: 0.7;

  background-image: linear-gradient(200deg, #89a1fc, #607ce1);

}

.Oval-8 {

  width: 249.2px;

  height: 332.2px;

  transform: rotate(-330deg);

  opacity: 0.25;

  border: solid 90px #6882e4;

}

.Zajno-Chat {

  white-space: nowrap;

  width: 71px;

  height: 16px;

  font-family: SFUIDisplay, serif;

  font-size: 14px;

  font-weight: 600;

  font-style: normal;

  font-stretch: normal;

  line-height: normal;

  letter-spacing: 0.1px;

  text-align: left;

  color: #cac8ee;

}

.bg {

  width: 271px;

  height: 570px;

  box-shadow: 0 2px 4px 0 rgba(43, 43, 71, 0.19);

  background-image: linear-gradient(to bottom, #3f3f5f, #383857);

}

.Rectangle-6-Copy {

  margin-left: 271px;

  width: 533px;

  height: 45px;

  opacity: 0.97;

  box-shadow: 0 2px 4px 0 rgba(43, 45, 73, 0.24);

  background-color: #585886;

}
.Amy-Daniel {


  white-space: nowrap;

  width: 59px;

  height: 28px;

  font-family: SFUIDisplay, serif;

  font-size: 12px;

  font-weight: normal;

  font-style: normal;

  font-stretch: normal;

  line-height: 2.33;

  letter-spacing: normal;

  text-align: left;

  color: #cac8ee;

}

.Rectangle-2 {

  margin-left: 112px;

  width: 800px;

  height: 570px;

  border-radius: 4px;

  background-color: #dcddf5;

}
