.chat {
  width: 800px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 8px 16px 0 rgba(65, 87, 165, 0.28);

  &__header {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    background-image: linear-gradient(to bottom, #29294a, #20203e);
  }

  &__header-title {
    color: #cac8ee;
    font-size: 12px;
    margin: 0;
    padding: 7.5px 0;
  }

  &__content {
    display: flex;
    height: 570px;
  }

  &__sidebar {
    width: 271px;
    background: #383857;
   }

  &__sidebar-header {
    background: #2e2e4f;
  }

  &__sidebar-block {
    border-bottom: 1px solid #4b4b61;
    height: 45px;
  }

  &__sidebar-header-title {
    font-size: 14px;
    color: #cac8ee;
    margin: 0;
    padding: 14.5px 0 14.5px 10px ;
  }

  &__sidebar-search-block {
    background: #3e3e5e;
  }

  &__sidebar-users {
    padding: 0;
  }

  &__sidebar-user {
    display: flex;
    padding: 15px;
    height: 70px;
  }

  &__sidebar-user-msg {
    padding-left: 25px;
    border-bottom: 1px solid #4b4b61;
  }

  &__sidebar-user-pic {
    width: 38px;
    height: 38px;
  }

  &__sidebar-user-msg-title {
    font-size: 12px;
    color: #dbd9fa;
    display: block;
  }

  &__sidebar-user-msg-detail {
    font-size: 11px;
    color: #9996d2;
  }



  &__messages {
    width: calc(100% - 271px);
    background-color: #dcddf5;
  }
}

