
body {
    opacity: 0.7;
    background-image: linear-gradient(200deg, #89a1fc, #607ce1);
}

.full-window {
    width: 800px;
    height: 600px;
    background: red;
    margin: auto;
}

.title-window {
    height: 30px;
    background-image: linear-gradient(to bottom, #29294a, #20203e);
    display: flex;
    align-items: center;
    padding-left: 10px;

    .control-button {
        height: 9.4px;
        width: 9.4px;
        border-radius: 50%;
        padding: 0;
        border: solid 0.5px rgba(125, 124, 125, 0.29);
        margin-right: 10px;
    }

    .close {
        background-color: #ed6c5e;
    }

    .minimize {
        background-color: #f6c150;
    }

    .maximize {
        background-color: #63c756;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.33;
        letter-spacing: normal;
        text-align: center;
        color: #cac8ee;
        margin-right: auto;
        margin-left: auto;
    }
}