<header class="header">
    <span class="title">Zajno Chat</span>
</header>
<aside class="side_panel">
    <section class="side_panel__title">
    </section>
    <section class="side_panel__search">
        search
    </section>
    <section class="side_panel__friends"></section>
    <section class="side_panel__me"></section>
</aside>
<main class="chat_window">
    <section class="chat_window__title"></section>
    <section class="chat_window__chat"></section>
    <section class="chat_window__input"></section>
</main>